<h1>TASK LIST</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h3><%= link_to task.name, task_path(task) %></h3>
      <h4><%= task.description %></h4>
        <p><%= link_to 'Update', edit_task_path(task) %></p>
        <p><%= link_to 'Delete', task_path(task), method: :delete , data: {confirm: 'Are you sure?'}%></p>


    </li>
  <% end %>
</ul>

<ul>
  <h5><%= link_to 'Create new task'%></h5>



</ul>
